{% extends 'base.html' %}

{% block content %}

{% if blogs %}
  <h3 class="text-warning" style="letter-spacing: 2px;">Searched for - "{{keyword}}"</h3>
    <div class="row mb-2">
      {% for blog in blogs %}
        <div class="col-md-6">
          <div class="card border-0" >
            <div class="card-body">
              <h3> <a href="{% url 'single_blog' blog.slug %}" class="text-dark">{{blog.title}}</a></h3>
              <small class="mb-1 text-muted">{{blog.created_at | timesince}} ago | {{blog.author}}</small>
              <p class="card-text">{{blog.short_description | truncatewords:25}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
{% else %}
  <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;" >No results found.</h3>
{% endif %}

</div>

{% endblock %}