{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}
    {% load crispy_forms_tags %}

    <!-- Right side content -->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
            {% if perms.auth.add_user %}
              <h2>Add New User</h2>

              <form action="{% url 'add_user' %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning">Submit</button>
              </form>
            {% else %}
            <h5>Permission Denied</h5>
            {% endif %}   
            </div>
        </div>
    </div>
</div>

{% endblock %}